@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: #181c2c;
  font-family: Montserrat;
  color: #CFCFCF;
}